$sm: 576px;
$md: 768px;
$lg: 992px;
/* Header vars*/
$sm_header_min_height: 45vh;
$sm_header_min_height: 45vh;
$md_header_min_height: 43vh;
$lg_header_min_height: 40vh;
/* Info bar vars*/
$sm_info_max_height: 5vh;
$sm_info_min_height: 5vh;
$md_info_min_height: 9vh;
$lg_info_min_height: 12vh;
/* picking section bar vars*/
$sm_pick_max_height: 50vh;
$sm_pick_min_height: 50vh;
$md_pick_min_height: 48vh;
$lg_pick_min_height: 48vh;
/* options component vars*/
$sm_options_max_height: 42vh;
$sm_options_min_height: 42vh;
$md_options_min_height: 40vh;
$lg_options_min_height: 40vh;
